{% extends "base_index.html" %}
{% load staticfiles %}


{% block content %}
<figure>
	<div class="media">
		<img src="http://hubtwente.nl/media/userblock/media/afbeeldingen/gebruikersblokken/quinta.jpg" style="width: 200px;">
	</div>
	<figcaption>
		<p>
			Als Cultuurmakelaar wil ik de ‘spin in het web’ zijn van het hele culturele<br>veld van Oldenzaal. Ik bied ondersteuning voor het culturele veld van<br>Oldenzaal, kan helpen bij vragen over ondersteuning, repetitieruimtes,<br>ideeën voor het opzetten van (nieuwe/vernieuwende) activiteiten etc. 
		</p>
		<p>
			Mijn website:<br><a href="http://www.cultuurmakelaar-oldenzaal.nl/" class="external" target="_blank">www.cultuurmakelaar-oldenzaal.nl/</a>
		</p>
		<p>
			Contactgegevens:<br>Tel: 06-3875 4846<br>E-mail: <a href="http://quinta@cultuurmakelaar-oldenzaal.nl" class="external" target="_blank">quinta@cultuurmakelaar-oldenzaal.nl</a>
		</p>
		<p style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 16.363636016845703px; line-height: normal;" type="cite">
			 
		</p>
	</figcaption>
</figure>
<footer>
	<div class="icon asterisk"></div>
	<div class="sterkr-name">
		Quinta Clason
	</div>
	<div class="sterkr-function-company">
		Stichting Cultuur in Enschede
	</div><!-- AddThis Button BEGIN -->
	<a class="addthis_button_compact" addthis:url="http://hubtwente.nl/index"></a> <!-- AddThis Button END --> 
</footer> 
{% endblock %}   
